<% @messages.each do |message| %>
  <%= "投稿者 #{message.user.nickname}" %>
  <% if user_signed_in? && current_user.id == message.user_id %>
    <%= link_to '削除', message_path(message.id), method: :delete %>
  <% end %>
  <%= message.content %>
  <div class="messages">
    <% message.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div>
<% end %>