 /* リセットCSS */

 body {
  font-size: 15px;
  color: #333;
  margin: 0 0 0 5px;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 5px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ヘッダー */

 header {
  height: 65px;
  background-color: #f0f0f0;
  display: flex;
  margin-bottom: 10px;
}

.heading {
  width: 30%;
}

.navbar {
  width: 40%;
  padding: 10px 0;
}

.current_user {
  width: 40%;
  padding: 10px 0;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
}

/* 画像投稿機能とTwitterタイムライン */

.wrapper {
  display: flex;
}

/* 画像とメッセージ */

.image {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

img {
  height: 75px;
  width: 75px;
  object-fit: contain;
}

/* Twitterタイムライン */

.twitter {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}